.SectionThree {
    background-color: #DEE2E4;

    padding-left: 75px;
    padding-right: 75px;
    margin-top: -45px;

    height: 420px;

    position: relative;
    z-index: 4;

    border-radius: 50px 50px 0 0;
}

.titulo_section_three {
    font-size: 3.47rem;

    margin-bottom: 20px;
}