.SectionThree {
    background-color: #DEE2E4;

    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 150px;
    margin-top: -45px;

    height: auto;

    position: relative;
    z-index: 4;

    border-radius: 50px 50px 0 0;
}

.titulo_section_three {
    font-size: 3.47rem;

    margin-bottom: 20px;
}

.agrupamento_section_three {
    position: relative;
}

.agrupamento_section_three > *:not(:last-child){
    margin-bottom: 27px;
}