.Card_container {
    width: 96%;
    height: auto;

    display: flex;
    justify-content: center;

    margin-bottom: 1.985rem;
}

.Card {
    background-color: #FFBEFF;

    border-radius: 20px;

    padding: 2.314rem;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 10px;

    flex: 1;
}

li h3 {
    font-size: 2.66rem;
}

li p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
}

.Card_container li:not(:last-child) {
    margin-right: .8rem;
}

li img {
    max-width: 100px;
    height: auto;
}

li {
    list-style: none;
}

